.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.015137;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(212,212,212);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:32.160000px;}
.fs0{font-size:44.160000px;}
.y14{bottom:3.477900px;}
.y1{bottom:3.478000px;}
.y17{bottom:3.478100px;}
.y8{bottom:4.311500px;}
.y16{bottom:4.311600px;}
.y1b{bottom:54.250000px;}
.y1a{bottom:68.189200px;}
.y19{bottom:82.128400px;}
.y18{bottom:96.067600px;}
.y15{bottom:110.006800px;}
.y13{bottom:123.946100px;}
.y12{bottom:137.885200px;}
.y11{bottom:151.824400px;}
.y10{bottom:165.763600px;}
.yf{bottom:179.702800px;}
.ye{bottom:193.642000px;}
.yd{bottom:207.581200px;}
.yc{bottom:221.520400px;}
.yb{bottom:235.459600px;}
.ya{bottom:249.398800px;}
.y9{bottom:263.338000px;}
.y7{bottom:277.277200px;}
.y6{bottom:291.216400px;}
.y5{bottom:305.155600px;}
.y4{bottom:319.094800px;}
.y3{bottom:333.034000px;}
.y2{bottom:346.973200px;}
.y0{bottom:360.912400px;}
.h4{height:13.439100px;}
.h1{height:13.439200px;}
.h5{height:13.439300px;}
.h3{height:26.051484px;}
.h2{height:30.187500px;}
.h0{height:428.601600px;}
.w4{width:113.185100px;}
.w3{width:113.991400px;}
.w1{width:119.635300px;}
.w2{width:134.954500px;}
.w0{width:584.566300px;}
.x8{left:0.750000px;}
.x1{left:1.825000px;}
.x0{left:50.650000px;}
.x9{left:101.050500px;}
.x6{left:106.645900px;}
.x7{left:122.013600px;}
.x5{left:127.609100px;}
.x2{left:170.785300px;}
.x3{left:306.239800px;}
.x4{left:420.731200px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:42.880000pt;}
.fs0{font-size:58.880000pt;}
.y14{bottom:4.637200pt;}
.y1{bottom:4.637333pt;}
.y17{bottom:4.637467pt;}
.y8{bottom:5.748667pt;}
.y16{bottom:5.748800pt;}
.y1b{bottom:72.333333pt;}
.y1a{bottom:90.918933pt;}
.y19{bottom:109.504533pt;}
.y18{bottom:128.090133pt;}
.y15{bottom:146.675733pt;}
.y13{bottom:165.261467pt;}
.y12{bottom:183.846933pt;}
.y11{bottom:202.432533pt;}
.y10{bottom:221.018133pt;}
.yf{bottom:239.603733pt;}
.ye{bottom:258.189333pt;}
.yd{bottom:276.774933pt;}
.yc{bottom:295.360533pt;}
.yb{bottom:313.946133pt;}
.ya{bottom:332.531733pt;}
.y9{bottom:351.117333pt;}
.y7{bottom:369.702933pt;}
.y6{bottom:388.288533pt;}
.y5{bottom:406.874133pt;}
.y4{bottom:425.459733pt;}
.y3{bottom:444.045333pt;}
.y2{bottom:462.630933pt;}
.y0{bottom:481.216533pt;}
.h4{height:17.918800pt;}
.h1{height:17.918933pt;}
.h5{height:17.919067pt;}
.h3{height:34.735312pt;}
.h2{height:40.250000pt;}
.h0{height:571.468800pt;}
.w4{width:150.913467pt;}
.w3{width:151.988533pt;}
.w1{width:159.513733pt;}
.w2{width:179.939333pt;}
.w0{width:779.421733pt;}
.x8{left:1.000000pt;}
.x1{left:2.433333pt;}
.x0{left:67.533333pt;}
.x9{left:134.734000pt;}
.x6{left:142.194533pt;}
.x7{left:162.684800pt;}
.x5{left:170.145467pt;}
.x2{left:227.713733pt;}
.x3{left:408.319733pt;}
.x4{left:560.974933pt;}
}
